{
  "name": "Description of your device",
  "device_id": "DEVICE_NAME",
  "device_stats_interval": 60,  // In seconds
  "wifi": [
    {
    "ssid": "SSID1",
    "password": "PASS1",
    // Optionnal config to force static
    "ip": "192.168.1.8",
    "mask":"255.255.255.0",
    "gw":"192.168.1.1",
    "dns1":"8.8.8.8",
    "dns2":"192.168.1.1"
   },
   {
    "ssid": "SSID2",
    "password": "PASS2",
    "ip": "192.168.1.8",
    "mask":"255.255.255.0",
    "gw":"192.168.1.1",
    "dns1":"8.8.8.8",
    "dns2":"192.168.1.1"
   },
   {
    "ssid": "SSID3",
    "password": "PASS3",
    "ip": "192.168.1.8",
    "mask":"255.255.255.0",
    "gw":"192.168.1.1",
    "dns1":"192.168.1.20",
    "dns2":"192.168.1.10"
   }
  ],
  "mqtt": {
    "host": "mqtt.host.local",
    "port": 1883,
    "base_topic": "devices/",
    "auth": true,               // For authenticated MQTT
    "username": "mqttuser",
    "password": "mqttpassword"
  },
  "ota": {
    "enabled": false    // To enable OTA Upload
  },
  "settings": {
    "temperatureInterval": 60,      // Report temperature each n seconds
    "percentage": 55,                          
    "deepSleepInterval": 180        // For Deep Sleep
  }
}